/**
 * AB_cards
 * version: 2.0.0
 */

.card-list-wrapper {
	width: 100%;
	overflow: display;
	display: block;
	position: relative;

	ul#card-list {
		margin: 0;
		padding: 0;
		position: relative;
		overflow-x: scroll;
		white-space: nowrap;

		&::-webkit-scrollbar {
    		width: 0px;  
    		background: transparent;
    	}

		li {
			list-style-type: none;
			display: inline;

			.item {
				display: inline-block;
				width: 300px;
				margin-right: 5px;
				position: relative;
				white-space: initial;
				
				.item-header {
					background: #222;
					padding-top: 50px;
					color: #fff;
				    font-size: 84px;
				    text-align: center;
					min-height: 200px;
					width: 100%;
					font-weight: bold;
				}

				.item-details {
					padding: 20px 30px;
					background: #fff;
					color: #111;
					border: 1px solid #ccc;
					position: relative;

					a {
						text-decoration: none;
					}

					h2.card-header {
						position: relative;
						color: #111;
					}

					p {
						font-size: 18px;
						line-height: 27px;
						position: relative;
						z-index: 2;
					}
				}
			}
		}
	}

	.card-navigation-wrapper {
		padding: 10px 0;
		display: flex;

		button {
			-webkit-appearance: none;
			appearance: none;
			padding: 10px;
			margin: 0;
			background: #333;
			color: #fff;
			border: none;
			border-radius: 15px 0 0 15px;
			display: block;
			box-sizing: border-box;
			border: 3px solid #333;
			cursor: pointer;

			&:focus {
				outline: none;
				border: 3px solid #333;
			}

			svg.triangle {
			  fill: #fff;
			  transform: rotate(90deg);
			  max-width: 25px;
			  max-height: 25px;
			}

			svg.triangle.previous {
				transform: rotate(-90deg)
			}
		}

		button:active {
			background: #fff;
			color: #111;

			svg.triangle {
				fill: #111;
			}
		}

		button#card-navigation-button-next {
			border-radius: 0 15px 15px 0;
			margin-left: 1px;
			cursor: pointer;
		}
	}
}